body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.Admin_inner_container{
   
    padding: 100px 28%;
    height: 20vh;
}
.Header{
    
    padding-left: 20%;
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
}
.Admin_box{
    border: 1px solid black;
    padding: 20px;
    border-radius: 3px;
    
    
    display: flex;
    flex-direction: column;
}
.Admin_header{
    
    text-align: right;
    margin-bottom: 20px;
}
.Admin_header button{
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
}
.Admin_header button:hover{
    background-color: rgb(150, 149, 149);
}
.Admin_inner{
    width: 30%;
   
    display: flex;
    flex-direction: column;
}
.Admin_inner div{
    background-color: rgb(175, 175, 175);
    border-radius: 3px;
    margin-bottom: 20px;
   padding-top: 4px;
   padding-bottom: 4px;
    text-align: center;
    font-weight: bold;
}
.Admin_inner div:hover{
    background-color: rgb(150, 149, 149);
}
.Admin_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}