body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.App_container{
  background-color: rgb(58, 110, 155);
    
}
.App_inner_container{
  background-color: rgb(171, 213, 226);
  padding: 100px 30%;
  height: 50vh;
}
.Header{
  
  padding-left: 20%;
  padding-top: 10%;
  font-size: larger;
  font-weight: bold;
}
.App_box{
  background-color: rgb(109, 180, 221);
  padding: 20px;
  border-radius: 3px;
  justify-content: right;
  align-items: end;
  display: flex;
  flex-direction: column;
}

.App_row{
  font-weight:bold ;
  width: 35%;
  
  text-align: left; 
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.App_row input{
  padding-bottom: 5px;
  padding-top: 5px;
  outline: none;
  border: none;
  border-radius:2px ;
  background-color: rgb(207, 205, 205);
}
.App_box button{
  padding: 5px 63px;
  font-weight:bold ;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: rgb(175, 175, 175);
}
.App_box button:hover{
  background-color: rgb(150, 149, 149);
}