body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .Concession1_container{
    /* background-color: rgb(58, 110, 155); */
  }
  .Concession1_inner_container{
  
    padding: 100px 40%;
    /* background-color: rgb(171, 213, 226); */
    height: 80vh;
  }
  .Concession1_Header{
      
    padding-left: 20%; 
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
  .Concession1_box{
    /* background-color: rgb(109, 180, 221); */
   border: 1px solid black;
    border-radius: 3px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 18%;
    padding-right:18%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 20%;
    
  }
  
  .Concession1_row{
    font-weight:bold ;
    width: 100%;
    
    text-align: left; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .Concession1_row label,.Concession1_row label{
    margin-bottom: 5px;
  }
  .Concession1_row input, .Concession1_row select{
    margin-right: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius:2px ;
    background-color: rgb(207, 205, 205);
  }




  .Concession1_box button{
    margin-right: 40px;
    font-size: medium;
    margin-top: 20px;
    padding: 5px 40px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  }

  .Concession1_box button:hover{
    background-color: rgb(150, 149, 149);
  }
  .Concession1_row_select{
    width: 47%;
  }
  .Concession1_row_middle{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  }
  .Concession1_row2{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-sizing: border-box;
  }
  .Concession1_row2 select{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius:2px ;
    background-color: rgb(207, 205, 205);
  }
 