body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.Details_inner_container{
   
    padding: 100px 25%;
    height: 30vh;
}
.Header{
    
    padding-left: 20%;
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
}
.Details_box{
    border: 1px solid black;
    
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 3px;
   
    
    display: flex;
    flex-direction: column;
}
.Details_inner_container_header{

width: 100%;
text-align: center;
font-weight: bold;
display: flex;
flex-direction: row;
margin-bottom: 20px;
}
.Back_button{
    
    width: 40%;
    text-align: left;
}
.Back_button button{
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgb(196, 195, 195);
}
.Back_button button:hover{
    background-color: rgb(141, 140, 140);
}
.Details_inner_box{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
  
}


.Details_inner_box_row{
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.col1{
    border: 1px solid black;
    width: 100%;
}


.foot,.foot1,.foot2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-small;
    width: 100%;
    border: 1px solid black;
    
}
.foot1 label,.foot2 label{
    border-bottom: 1px solid black;
}
.foot1 label:hover,.foot2 label:hover{
    color: gray;
}