body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .OwnerLogin_container{
  
    padding: 100px 30%;
    height: 20vh;
  }
  .OwnerLoginHeader{
      
    padding-left: 20%;
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
  .OwnerLogin_box{
   border: 1px solid black;
    padding: 20px;
    border-radius: 3px;
    justify-content: right;
    align-items: end;
    display: flex;
    flex-direction: column;
  }
  
  .OwnerLogin_row{
    font-weight:bold ;
    width: 35%;
    
    text-align: left; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .OwnerLogin_row input{
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius:2px ;
    background-color: rgb(207, 205, 205);
  }
  .OwnerLogin_box button{
    padding: 5px 63px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  }
  .OwnerLogin_box button:hover{
    background-color: rgb(150, 149, 149);
  }
  .OwnerLogin_footer{
    margin-top: 10px;
    background-color: rgb(175, 175, 175);
    border-radius: 2px;
    padding: 1px 6px;
  }
  .OwnerLogin_footer:hover{
    background-color: rgb(150, 149, 149);
  }