body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.Payment_container{
    /* background-color: rgb(58, 110, 155); */
}
.Payment_container{
   
    padding-top: 5%;
    /* background-color: rgb(171, 213, 226); */
    height: 90vh;
}

.Payment_box{
    /* background-color: rgb(109, 180, 221); */
    border: 1px solid black;
    padding: 20px;
    
    border-radius: 3px;
   
    
    display: flex;
    flex-direction: row;
}
.Payment_inner_container_header{

width: 100%;
text-align: center;
font-weight: bold;
display: flex;
flex-direction: row;
margin-bottom: 20px;
}
.PaymentBack_button{
    
    width: 40%;
    text-align: left;
}
.PaymentBack_button button{
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgb(196, 195, 195);
}
.PaymentBack_button button:hover{
    background-color: rgb(141, 140, 140);
}
.Payment_box_left{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.Payment_inner_box_row{
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.Paymentcol1{
    border: 1px solid black;
    width: 100%;
}


.Paymentfoot{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    width: 100%;
    border: 1px solid black;
    height: 70vh;
}
/* .foot2 label{
    border-bottom: 1px solid black;
}
.foot2 label:hover{
    color: gray;
} */
.Payment_Left_inner{
  
    display: flex;
    flex-direction: column;
    font-weight: bold; 
    padding: 30px;
}
.Payment_box_left{
   
    width: 50%;
}
.Payment_box_right{
   
    width: 50%;
}
.Payment_Left_inner_text{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.Payment_Left_inner_text label{
width: 50%;
text-align: left;
}
.Payment_Left_inner_text input{
    outline: none;
    
}
.Payment_Left_inner_button{

    text-align: right;
    margin-right: 18.6%;
}
.Payment_Left_inner_button button{
    padding: 5px 62px;
    border-radius: 5px;
    background-color: rgb(196, 195, 195);
    border: none;
    outline: none;
}
.Payment_Left_inner_button button:hover{
    background-color: rgb(141, 140, 140);
}