body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .Reservation1_inner_container{
  
    padding: 100px 40%;
    height: 20vh;
  }
  .Reservation1Header{
      
    padding-left: 20%; 
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
  .Reservation1_box{
   border: 1px solid black;
   
    border-radius: 3px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .Reservation1_row{
    font-weight:bold ;
    width: 100%;
    
    text-align: left; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .Reservation1_row label{
    margin-bottom: 5px;
  }
  .Reservation1_row input, .App_row select{
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius:2px ;
    background-color: rgb(207, 205, 205);
  }
  /* .App_box button{
    font-size: medium;
    margin-top: 20px;
    padding: 5px 53px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  } */
  /* .App_box button:hover{
    background-color: rgb(150, 149, 149);
  } */

  .Reservation1_box_header{
    padding-top: 10px;
    width: 90%;
  }
  .Reservation1_box_header button{
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: small;
    padding: 1px 2px;
    background-color: rgb(175, 175, 175);
  }
  .Reservation1_innerbox{
    padding-left: 18%;
    padding-right:18%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .Reservation1_innerbox button{
    font-size: medium;
    margin-top: 20px;
    padding: 5px 57px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  }

  .Reservation1_box button:hover{
    background-color: rgb(150, 149, 149);
  }