body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .App_inner_container{
  
    padding: 100px 40%;
    height: 20vh;
  }
  .Header{
      
    padding-left: 20%; 
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
  .App_box{
   border: 1px solid black;
   
    border-radius: 3px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .App_row{
    font-weight:bold ;
    width: 100%;
    
    text-align: left; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  

  .App_box_header{
    padding-top: 10px;
    width: 90%;
  }
  .App_box_header button{
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: small;
    padding: 1px 2px;
    background-color: rgb(175, 175, 175);
  }
  .App_innerbox{
    padding-left: 18%;
    padding-right:18%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50%;
    padding-bottom: 70%;
  }
  .App_innerbox button{
    width: 100%;
    font-size: medium;
    margin-top: 20px;
    padding: 5px 57px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  }
  
  .App_box button:hover{
    background-color: rgb(150, 149, 149);
  }