body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .Signup2_inner_container{
  
    padding: 100px 40%;
    height: 20vh;
  }
  .Signup2Header{
      
    padding-left: 20%; 
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
  .Signup2_box{
   border: 1px solid black;
   padding-top: 15%;
   padding-bottom: 15%;
   padding-left: 18%;
   padding-right:18%;
    border-radius: 3px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .Signup2_row{
    font-weight:bold ;
    width: 100%;
    
    text-align: left; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .Signup2_row label{
    margin-bottom: 5px;
  }
  .Signup2_row input, .Signup2_row select{
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius:2px ;
    background-color: rgb(207, 205, 205);
  }
  .Signup2_box button{
    font-size: medium;
    margin-top: 20px;
    padding: 5px 53px;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
  }
  .Signup2_box button:hover{
    background-color: rgb(150, 149, 149);
  }
