body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  .Userwallet_inner_container{
  
    padding: 100px 40%;
    height: 20vh;
  }
  .UserwalletHeader{
      
    padding-left: 20%; 
    padding-top: 10%;
    font-size: larger;
    font-weight: bold;
  }
 .Userwallet_box{
    border: 1px solid black;
    border-radius: 3px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
 }
 .Userwallet_header{
   
    width: 85%;
    padding-top: 20px;
    font-size: small;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .Userwallet_header_label{
    margin-right: 10px;
 }
 .Userwallet_header button{
    font-size: small;
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
 }
 .Userwallet_middle{
    
    display: flex;
    flex-direction: column;
    padding-top: 50%;
    padding-bottom: 30%;
 }
 .Userwallet_middle button{
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
    padding: 5px 53px;
    margin-bottom: 30px;
 }
 .Userwallet_footer{
    
    width: 100%;
    margin-bottom: 10%;
    text-align: right;
    width: 85%;
 }
 .Userwallet_footer button{
    font-weight:bold ;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 18px 10px;
    background-color: rgb(175, 175, 175);
 }
 .Userwallet_middle button:hover,.Userwallet_header button:hover,.Userwallet_footer button:hover{
    background-color: rgb(150, 149, 149);
 }
 